@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">关键词：</label>
                        <div class="layui-input-inline mr0">
                            <input id="titleKey" class="layui-input" type="text" placeholder="搜索关键词" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="userTable" lay-filter="userTable"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    {{# if(d.IsBackAmount==0||d.IsBackAmount==3||d.IsBackAmount==2){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="apply">申请余额退款</a>
    {{#}}}
    {{# if(d.IsBackAmount==1){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" data-power="Audit" lay-event="config">通过</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" data-power="Audit" lay-event="configReject">驳回</a>
    {{#}}}
</script>

@section css{
    <link rel="stylesheet" href="/assets/module/formSelects/formSelects-v4.css" />
    <style>
        .layui-table-cell {
            height: auto;
            line-height: 28px;
        }

        .layui-table img {
            max-width: 600px;
        }
    </style>
}
@section js{
    <!-- js部分 -->
    <script>
        layui.use(['form', 'util', 'admin', 'adminList', 'adminForm', 'laydate'], function () {
    var $ = layui.jquery;
    var util = layui.util;
    var admin = layui.admin;
    var form = layui.form;
    var adminList = layui.adminList;
    var laydate = layui.laydate;
    var adminForm = layui.adminForm;
    //日期
    laydate.render({
        elem: '#startTime',
        format: 'yyyy-MM-dd'
    });
    //日期
    laydate.render({
        elem: '#endTime',
        format: 'yyyy-MM-dd'
    });

    // 渲染表格
    var insTb = adminList.tableLayUI({
        elem: '#userTable',
        url: '@Url.Action("GetDataSource")',
        page: true,
        cellMinWidth: 100,
        cols: [[
            { type: 'numbers' },
            { field: 'Student_Name', title: '姓名', sort: true },
            { field: 'Sex', title: '性别', sort: true },
            { field: 'Grade', title: '年级', sort: true },
            { field: 'Student_Phone', title: '电话', sort: true },
            { field: 'CampusName', title: '校区', sort: true, width: 150 },
            { field: 'CR_UserName', title: 'CR', sort: true },
            { field: 'CC_UserName', title: '顾问', sort: true },
            { field: 'Amount', title: '余额', sort: true },
            {
                field: 'Amount', title: '申请退费金额', sort: true, templet: function (d) {
                    if (d.IsBackAmount < 1 || d.IsBackAmount == 3 || d.IsBackAmount ==2) {
                        return "<input value='" + d.Amount + "' type='text' name='ApplyBackAmount' class='layui-input'></input>";
                    }
                    else {
                       
                        return "<span>" + d.ApplyBackAmount+"</span>";
                    }
                }
            },
            {
                field: 'IsBackAmount', title: '申请退款状态', sort: true, templet: function (d) {
                    if (d.IsBackAmount == 1) {
                        return "已申请";
                    } else if (d.IsBackAmount == 2) {
                        return "申请通过";
                    }
                    else if (d.IsBackAmount == 3) {
                        return "申请被驳回";
                    }
                    else {
                        return "";
                    }
                }
            },
            {align: 'center', toolbar: '#tableBar', title: '操作', width: 200}
        ]]
    });

    // 搜索
    $('#btnSearch').click(function () {
        var title = $('#titleKey').val();
        insTb.reload({
            where: { title: title}
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    });

    // 工具条点击事件
    adminList.table.on('tool(userTable)', function (obj) {
        var data = obj.data;
        var layEvent = obj.event;
        var index = $(obj.tr[0]).attr('data-index');
        var applyBackAmount = $(obj.tr[0]).find("input[name='ApplyBackAmount']").val();
        if (layEvent === 'config') { // 修改
            configChange(data);
        } else if (layEvent === 'configReject') { // 驳回
            recject(data);
        }
        else if (layEvent === 'apply') { // 申请
            apply(data, applyBackAmount);
        }
    });

    //显示表单弹窗
      function apply(vmodel, applyBackAmount) {
          if (applyBackAmount < 0 || applyBackAmount == "" || applyBackAmount==0) {
            layer.msg("退费余额不能小于0");
            return false;
          }
         if (applyBackAmount > vmodel.Amount) {
              layer.msg("退费余额大于余额，无法申请");
              return false;
        }
       adminForm.Save({
            url: '@Url.Action("UserAmountBackApply")',
           data: { uid: vmodel.StudentUid,applyBackAmount: applyBackAmount},
           callBack: function (result) {
               insTb.reload();
                layer.msg(result.msg);
            }
        });
    }

    //确认退费
    function configChange(vmodel) {
            adminForm.Save({
            url: '@Url.Action("UserAmountBackApplyAudit")',
            data: { uid: vmodel.StudentUid,through:true},
                callBack: function (result) {
                    insTb.reload();
                layer.msg(result.msg);
            }
        });
    };
    ///驳回申请
    function recject(vmodel) {
            adminForm.Save({
            url: '@Url.Action("UserAmountBackApplyAudit")',
            data: { uid: vmodel.StudentUid, through: false },
                callBack: function (result) {
                    insTb.reload();
                layer.msg(result.msg);
            }
        });
    };

});
    </script>
}