<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto" style="font-weight:700">总使用课时</label>
                        <label class="layui-form-label w-auto" style="font-weight:700" id="SumTime"></label>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">开始日期：</label>
                        <div class="layui-input-inline mr0">
                            <input id="startTime" class="layui-input" type="text" placeholder="开始时间" autocomplete="off" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">结束日期：</label>
                        <div class="layui-input-inline mr0">
                            <input id="endTime" class="layui-input" type="text" placeholder="结束时间" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                    </div>
                </div>
            </div>
            <table class="layui-table" id="userTable" lay-filter="userTable">
                <thead>
                    <tr>
                        <th>课程类型</th>
                        <th>使用课时</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1对1</td>
                        <td><span id="CourseUseTime"></span></td>
                    </tr>
                    <tr>
                        <td>班课</td>
                        <td><span id="ClassUseTime"></span></td>
                    </tr>
                    <tr>
                        <td>试听课</td>
                        <td id="ShitingTime"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">

</script>

@section css{
    <link rel="stylesheet" href="/assets/module/formSelects/formSelects-v4.css" />
    <style>
        .layui-table-cell {
            height: auto;
            line-height: 28px;
        }

        .layui-table img {
            max-width: 600px;
        }

        .monthBtn {
            height: 30px;
            width: 68px;
        }

        .actvMonth {
            color: white;
            background-color: #009688;
            border: 0px;
        }
    </style>
}
@section js{
    <!-- js部分 -->
    <script>
        layui.use(['form', 'admin', 'adminForm','laydate'], function () {
        var $ = layui.jquery;
        var adminForm = layui.adminForm;
        var laydate = layui.laydate;
        //日期
        laydate.render({
            elem: '#startTime',
            format: 'yyyy-MM-dd'
        });
        //日期
        laydate.render({
            elem: '#endTime',
            format: 'yyyy-MM-dd'
        });
        // 搜索
        $('#btnSearch').click(function () {
            BindTotal();
        });
        BindTotal();
        function BindTotal() {
            var startTime = $('#startTime').val();
            var endTime = $('#endTime').val();
              adminForm.load({
                url: "@Url.Action("QuereyTotalCourse")",
                data: { startTime: startTime,endTime:endTime},
                dataType: 'json',
                callBack: function (rou) {
                    if (rou != null) {
                        $("#SumTime").text(rou.SumTime);
                        $("#CourseUseTime").text(rou.CourseUseTime);
                        $("#ClassUseTime").text(rou.ClassUseTime);
                        $("#ShitingTime").text(rou.ShitingTime);
                    }
                    else {
                        $("#SumTime").text(0);
                        $("#CourseUseTime").text(0);
                        $("#ClassUseTime").text(0);
                        $("#ShitingTime").text(0);
                    }
                }
              });

        }
    });
    </script>
}