<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="radio" name="Category" value="0" title="按教师" checked="checked" lay-filter="Category">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="button" value="本月" monthValue="1" class="monthBtn" />
                            <input type="button" value="上月" monthValue="2"  class="monthBtn actvMonth" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">开始时间</label>
                        <div class="layui-input-inline mr0">
                            <input name="StartTime" id="StartTime" class="layui-input" type="text" placeholder="登记开始时间"  autocomplete="off"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">—</label>
                        <div class="layui-input-inline mr0">
                            <input name="EndTime" id="EndTime" class="layui-input" type="text" placeholder="登记截止时间" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="userTable" lay-filter="userTable"></table>
            <div style="display:flex">
                <div  style="font-weight:700;width:27%;">合计</div>
                <div  id="totalCourseTime" style="font-weight:700;flex:1"></div>
                <div  id="totalValiteTime" style="font-weight:700;flex:1;"></div>
                <div  id="totalUnValiteTime" style="font-weight:700;flex:1;"></div>
            </div>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">

</script>

@section css{
    <link rel="stylesheet" href="/assets/module/formSelects/formSelects-v4.css" />
    <style>
        .layui-table-cell {
            height: auto;
            line-height: 28px;
        }

        .layui-table img {
            max-width: 600px;
        }
        .monthBtn {
            height:30px;
            width:68px;
        }

        .actvMonth {
            color: white;
            background-color: #009688;
            border:0px;
        }

    </style>
}
@section js{
    <!-- js部分 -->
    <script>
      var monthStatu =2;
        layui.use(['form', 'util', 'admin', 'adminList', 'adminForm', 'laydate'], function () {
    var $ = layui.jquery;
    var util = layui.util;
    var admin = layui.admin;
    var adminList = layui.adminList;
    var laydate = layui.laydate;
     laydate.render({
         elem: '#StartTime',
         type: 'date'
     });
     laydate.render({
         elem: '#EndTime',
         type: 'date'
     });
    // 渲染表格
    var insTb = adminList.tableLayUI({
        elem: '#userTable',
        url: '@Url.Action("QueryWorkSource")',
        where: { monthStatu: monthStatu, startTime: '', endTime: '' },
        page: false,
        cellMinWidth: 100,
        cols: [[
            { type: 'numbers' },
            { field: 'User_Name', title: '教师名称', fixed: 'left', sort: true },
            { field: 'totalTime', title: '总课时', sort: true },
            { field: 'valiteTotal', title: '有效课时', sort: true },
            { field: 'unvaliteTotal', title: ' 无效课时', sort: true },
        ]],
        done: function (res, curr, count) {
            if (res.totalRow != undefined && res.totalRow != null) {
                $("#totalCourseTime").html("合计"+res.totalRow.totalCourseTime);
                $("#totalValiteTime").html("合计"+res.totalRow.totalValiteTime);
                $("#totalUnValiteTime").html("合计"+res.totalRow.totalUnValiteTime);
            }
        }
    });

    // 月份搜索
      $('.monthBtn').click(function () {
         $('input[name="StartTime"]').val("");
         $('input[name="EndTime"]').val("");
         $('.monthBtn').removeClass("actvMonth");
         $(this).addClass("actvMonth");
         monthStatu = $(this).attr("monthValue");
         insTb.reload({
             where: { monthStatu: monthStatu, startTime:'', endTime:'' }
             , page: {
                 curr: 1 //重新从第 1 页开始
             }
         });
    });

    // 搜索
     $('#btnSearch').click(function () {
         var endTime = $('input[name="EndTime"]').val();
         var startTime = $('input[name="StartTime"]').val();
        if (startTime == null || startTime == "" || endTime == null || endTime=="") {
            layer.msg("请输入开始日期和结束日期");
            return false;
         }
         $('.monthBtn').removeClass("actvMonth");
         monthStatu = 0;
        insTb.reload({
            where: { monthStatu:monthStatu, startTime: startTime,endTime:endTime}
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    });

 });
    </script>
}