@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">关键词：</label>
                        <div class="layui-input-inline mr0">
                            <input id="txtTitle" class="layui-input" type="text" placeholder="合同号,学生姓名" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="userTable" lay-filter="userTable"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
</script>

@section css{
    <link rel="stylesheet" href="/assets/module/formSelects/formSelects-v4.css" />
    <style>
        .layui-table-cell {
            height: auto;
            line-height: 28px;
        }

        .layui-table img {
            max-width: 600px;
        }
    </style>
}
@section js{
    <!-- js部分 -->
    <script>
layui.use(['form', 'util', 'admin', 'adminList'], function () {
    var $ = layui.jquery;
    var util = layui.util;
    var admin = layui.admin;
    var adminList = layui.adminList;

    // 渲染表格
    var insTb = adminList.tableLayUI({
        elem: '#userTable',
        url: '@Url.Action("GetDataSource")',
        page: true,
        cellMinWidth: 100,
        cols: [[
            { type: 'numbers' },
            { field: 'StudentName', title: '学生姓名', sort: true },
            { field: 'Contra_ChildNo', title: '合同号', sort: true },
            { field: 'RepaymentAmount', title: '还款金额', sort: true },
            { field: 'CreateTime', title: '还款时间', sort: true },
            {align: 'center', toolbar: '#tableBar', title: '操作', width: 200}
        ]]
    });

    // 搜索
    $('#btnSearch').click(function () {
        var title = $('#txtTitle').val();
        insTb.reload({
            where: { title: title }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    });

    // 工具条点击事件
    adminList.table.on('tool(userTable)', function (obj) {
        var data = obj.data;
        var layEvent = obj.event;
        if (layEvent === 'edit') { // 修改
            showEditModel(data);
        } else if (layEvent === 'del') { // 删除
            doDel(data.CourseId);
        }
    });

    //显示表单弹窗
    function showEditModel(vmodel) {
        adminList.form({
            title: (vmodel ? '修改' : '添加') + '校区',
            type: 2,
            width: "660px",
            height: "430px",
            content: vmodel ? '@Url.Action("Edit")?ID=' + vmodel.CampusId : '@Url.Action("Add")?ID=0',
            end: function () {
                insTb.reload();
            }
        });
    }
    //删除
    function doDel(Id) {
        adminList.delete('@Url.Action("Delete")', { Id: Id}, function () {
            insTb.reload();
        });
    }

});
    </script>
}